<!-- Page Start -->
<div class="container">
  <!-- Page Title Start -->
  <div class="row">
    <div class="col-sm-12">
      <h1>Company Details</h1>
      <p class="hint-text">Please fill the required company details to register the company.</p>
    </div>
  </div>
  <!-- Page Title End -->
  <!-- Page Body Start -->
  <!-- Accordion Company Details start -->
  <div class="accordion md-accordion" id="accordionCompany">
    <!-- Accordion Company Details card start-->
    <div class="card">
      <div class="form-group">
        <!-- Card header start -->
        <div class="card-header" id="headingCompanyDetails">
          <a data-toggle="collapse" data-parent="#accordionCompany" href="#collapseCompanyDetails">
            <h4>Company Details</h4>
          </a>
        </div>
        <!-- Card header end -->

        <!-- Collapse Body start-->
        <div id="collapseCompanyDetails" class="collapse show" data-parent="#accordionCompany">
          <!-- Card body start-->
          <div class="card-body">

            <div class="row form-group">
              <div class="col-sm-6">
                <label for="inputCompanyName">Company Name</label>
                <input type="text" formControlName="inputCompanyName" name="companyName" id="inputCompanyName"
                  placeholder="Company Name" class="form-control" />

                <label for="inputCompanyCategory">Company Category</label>
                <select class="custom-select mr-sm-2" name="CompanyCategory" formControlName="inputCompanyCategory"
                  id="inputCompanyCategory">
                  <option value="Agriculture">Agriculture, Plantation & Other Rural Sectors
                  </option>
                  <option value="Metal">Basic Metal Production</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="inputRequirementDescription">Requirement Description</label>
              <textarea name="requirementDescription"
                  formControlName="inputRequirementDescription" id="inputRequirementDescription"
                  class="form-control " placeholder="Requirement Description" rows="2">
              </textarea>
          </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-block">
                  <span class="spinner-border spinner-border-sm">Add Company</span>
                </button>
              </div>
              <div class="col-sm-6">
                <button type="reset" class="btn btn-danger btn-block">
                  Reset
                </button>
              </div>
            </div>
          </div>
          <!-- Card body end-->
        </div>
        <!-- Collapse body end-->
      </div>
      <!--form group end-->
    </div>
    <!-- Accordion Company Details card end-->
  </div>
  <!-- Accordian Company Details end-->
  <!-- Page Body end -->
</div>
<!-- Page End -->
