<!-- Page Start -->
<div class="container" style="margin-top: 10%;">
  <!-- Page Title Start -->
  <div class="row" style="text-align: center">
    <div class="col-sm-5">
    </div>
    <div class="col-sm-2">
      <h2>LOGIN</h2>
      <!-- <input #email [(ngModel)] = "name" type="text"> -->
      <!-- <div hidden>{{loginform.form.valid}}</div> -->
    </div>
    <div class="col-sm-5">
    </div>
  </div>
  <!-- <form #loginform="ngForm" (ngSubmit)="loginUser()"> -->
  <!-- Page Title End -->
  <!-- Page Body Start -->
  <!-- Username Start -->
  <div class="row form-group" >
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4" >
      <label for="username">Username</label>
      <!-- <br>{{name}} -->
      <sup style="color: red;">*</sup>
      <input type="username" class="form-control" placeholder="Enter username" name="username">
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <!-- Username End -->
  <!-- Password Start -->
  <div class="row form-group">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4" >
      <label for="password">Password</label>
      <sup style="color: red;">*</sup>
      <input type="password" class="form-control" placeholder="Enter password" name="password">
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <!-- Password End -->
  <!-- Remember me Start-->
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-2">
      <div class="form-check" >
        <label><input class="form-check-input" type="checkbox" name="remember">Remember me</label>
      </div>
    </div>
  <!-- Remember me End-->
  <!-- Forgot password -->
  <div class="col-sm-2">
    <div class="container">
      <span class="password">Forgot <a href="#">password?</a></span>
    </div>
  </div>
  <div class="col-sm-4">
  </div>
</div>
<!-- Login button Start -->
<div class="row form-group">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 d-grid gap-2" >
    <button type="submit" class="btn btn-primary">Login</button>
    <!-- <small class="text-danger" >{{msg}}</small> -->
  </div>
  <div class="col-sm-4">
  </div>
</div>
