<div class="container">

    <!-- Page Title Start -->
    <div class="row">
        <div class="col-sm-12">
            <h1>Current drives</h1>
            <p class="hint-text">Internship drives for current academic year</p>
        </div>
    </div>
    <!-- Page Title End -->
  
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Company</th>
                <th scope="col">Type</th>
                <th scope="col">CGPA Criteria</th>
                <th scope="col">Branches Applicable</th>
                <th scope="col">Stipend</th>
                <th scope="col">Form</th>
            </tr>
        </thead>
        <!-- <tbody>
            <tr *ngFor="let company of companies">
                <td><a class="updateIcon" href="../customer-update/{{ company.id }}"></a></td>
                <th scope="row">{{ company.id }}</th>
                <td>{{ company.name }}</td>
                <td>{{ company.type }}</td>
                <td><a class="deleteIcon" href="../customer-delete/{{ company.id }}"></a></td>
            </tr>
        </tbody> -->
    </table>
  
  </div>