<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Current drives</h1>
            <p class="hint-text">Internship drives for current academic year</p>
        </div>
    </div>
        <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Company</th>
                <th scope="col">Job role</th>
                <th scope="col">CGPA Criteria</th>
                <th scope="col">Branches</th>
                <th scope="col">Stipend</th>
                <th scope="col">Form</th>
            </tr>
        </thead>
        <tr *ngFor = "let drive of drives">
            <td>{{drive.p_id}}</td>
            <td>{{drive.name}}</td>
            <td>{{drive.job_title}}</td>
            <td>{{drive.min_cgpa}}</td>
            <td>{{drive.branch}}</td>
            <td>{{drive.stipend}}</td>
            <td>{{drive.form_link}}</td>
        </tr>
    </table>
  </div>
