<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Current drives</h1>
            <p class="hint-text">Internship drives for current academic year</p>
        </div>
    </div>
        <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Company</th>
                <th scope="col">Type</th>
                <th scope="col">CGPA Criteria</th>
                <th scope="col">Branches Applicable</th>
                <th scope="col">Stipend</th>
                <th scope="col">Form</th>
            </tr>
        </thead>
    </table>
  </div>
